<% layout('layouts/boilerplate') %>

    <div class="container mt-3 text-center">
        <h1>game over!</h1>
        <p>
            you have run out of money!
        </p>
        <a href="/startover" class="btn btn-info">start over?</a>
    </div>