<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Simulator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

    <main class="text-center position-absolute top-50 start-50 translate-middle">
        <div class="title">
            <h1>so you want to own a restaurant?</h1>
            <h2>a simulation game</h2>
        </div>
        <div class="button mt-5">
            <!-- Note: eventually this button will lead to register/login page but for now there is no authentication -->
            <a href="/restaurants"><button type="button" class="btn btn-info btn-lg">get started</button></a>
        </div>
    </main>

</body>

</html>