<% layout('layouts/boilerplate') %>

    <h1>so, you want another shot?</h1>

    <p>your community has pitched in to donate some ingredients to you.</p>
    <p>also, your debt has been paid off and you have a clean slate - make the most of it!</p>

    <a href="/restaurants/new" class="btn btn-info">open new restaurant</a>