<% layout('layouts/boilerplate') %>

    <div class="container mt-3">

        <h1>how to play restaurant sim</h1>
        <ul>
            <li>you can open restaurants of one type - until you unlock the option to branch out to other cuisines</li>
            <li>pick a location for your restaurant - city rent is highest but will yield more customers; countryside
                rent is lowest but business will be slower; the suburbs are somewhere in between</li>
            <li>you start with no money but enough ingredients to make 1 dish</li>
            <li>make a dish by clicking "cook" button on restaurant page</li>
            <li>click "end day" on main page to sell your food and collect your profits</li>
            <li>once you have some money, you can buy more supplies by clicking "buy" button next to ingredients on
                restaurant page</li>
            <li>you can change the price of menu items by clicking the dish's name on the restaurant page; if you have
                more than one restaurant of the same type, you can have different prices for a dish at each; higher
                prices will mean fewer sales though; city folks are more likely to spend more money on food than country
                folks</li>
            <li>you also start the game with one employee; you can hire more to speed things up and improve food
                quality; each restaurant must have at least one employee</li>
            <li>rent is due on the first of each month; be careful - if you can't pay your rent, you may have to sell a
                restaurant or two or even declare bankruptcy</li>
            <li>if you have no money and nothing to sell, the game is over</li>
            <li>if you think you have enough money to pay the rent, you can open a new restaurant by clicking "create
                new" on the navigation bar or "open new restaurant" on the main index page</li>
        </ul>

        <% if (user.restaurants[0]==null && user.month==1 && user.day==1) { %>
            <a href="/welcome/createnew" class="btn btn-info">create your first restaurant</a>
            <% } else { %>
                <a href="/restaurants" class="btn btn-info">back to restaurants</a>
                <% } %>

    </div>