<% layout('layouts/boilerplate') %>

    <div class="container mt-5" style="width: 75%">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">start a restaurant</h5>
                <p class="card-text">anyone can do it! you can too...probably.</p>
            </div>
            <div class="card-body">

                <form action="/restaurants" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">what do you want to call the place?</label>
                        <input class="form-control" type="text" id="name" name="restaurant[name]"
                            placeholder="restaurant name">
                    </div>

                    <!--HAVE THIS SHOW ONLY IF HAS UNLOCKED MULTIPLE RESTAURANT TYPES
                    <div class="mb-3">
                        <label for="type" class="form-label">what type of grub ya slingin'?</label>
                        <select class="form-select" id="type" name="restaurant[type]">
                            <option value="pizza-parlor">pizza parlor</option>
                            <option value="icecream-shop">ice cream shop</option>
                            <option value="burger-place">burger place</option>
                        </select>
                    </div>-->

                    <div class="mb-3">
                        <label for="location" class="form-label">where at?</label>
                        <select class="form-select" id="location" name="restaurant[location]">
                            <option value="city">city (rent: $150)</option>
                            <option value="suburbs">suburbs (rent: $100)</option>
                            <option value="countryside">countryside (rent: $50)</option>
                        </select>
                    </div>
                    <% if (user.day> 1) { %>
                        <div class="mb=3">
                            <p>your rent will be pro-rated for this month so you'll only owe for <%= 31 - user.day %>
                                    days
                            </p>
                        </div>
                        <% } %>

                            <button class="btn btn-info">let's go</button>
                </form>
            </div>
        </div>
    </div>